<!DOCTYPE html>
<html lang="zh-CN">

<head>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- 实现兼容性 -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 视口，终端的可视区域                               初始化比例100% -->
        <title>{{block name="title"}}首页{{/block}}</title>
        {{load file="__STATIC__/bootstrap/css/bootstrap.css"}}
        {{load file="__CSS__/dashboard.css"}}
        {{block name="css"}}{{/block}}
    </head>
</head>

<body>
    <div class="container-fluid">
        {{include file="public/header"}}
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar" style="padding: 0;">
                {{include file="public/left"}}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {{block name="content"}}{{/block}}
            </div>
        </div>
    </div>
    </div>
    {{load file="__JS__/jquery-3.4.1.min.js"}}
    {{load file="__STATIC__/bootstrap/js/bootstrap.js"}}
    {{block name="js"}}
    {{/block}}
    <script type="text/javascript">
        $('[title="删除"]').click(function () {
            return confirm('确定要删除？');
        });
    </script>
</body>

</html>