<footer class="footer" style="margin-top:30px; margin-bottom: 10px;">
    <hr>
    <div class="footer-top">
        <div style="float: right;">
            <a style="color: black; margin-top: 0; vertical-align: bottom; line-height: 30px;
                font-size: 18px;" href="http://www.beian.miit.gov.cn" target="_blank">
                &copy; 2018 - 2020 本站版权 琨耀所有</a>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.beian.miit.gov.cn" target="_blank" style="color: black;
                    font-size: 18px;">备案号：<span style="color: #337ab7">鄂ICP备18010578号</span></a></p>
        </div>
    </div>
</footer>