{{extend name="public/base"}}
{{block name="title"}}用户列表{{/block}}
{{block name="css"}}
{{load file="__CSS__/selftable.css"}}
{{/block}}
{{block name="content"}}
<h4 class="page-header"><b>{{$data.nick_name}}</b>  在<b> {{$data.subject}}</b> 下的评论</h4>
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped table-condensed tablelist">
        <tr>
            <td>评论内容</td>
            <td>发表时间</td>
            <td>删除</td>
        </tr>
        {{volist name="comments" id="v"}}
        <tr>
            <td>{{$v.comment}}</td>
            <td>{{$v.created_at}}</td>
            <td>
                <a href="{{:url('admin/comment/del', ['id' => $v.id])}}" title="删除">
                    <span class="glyphicon glyphicon-trash text-danger"></a>
            </td>
        </tr>
        {{/volist}}
    </table>
    {{$comments->render()}}
</div>
{{/block}}